img{
    width: 200px;
    height: 200px;
}
body{
    text-align: center;
    background-color: #842A09;
}
*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
input, button, img{
    margin: 30px;
}
button{
    display: inline-block;
    background-color: lightseagreen;
    padding: 20px;
    border: none;
    color: darkred;
}
button:hover{
    background-color: chartreuse;
}
p{
    color: lightseagreen;
    font-size: x-large;
    display: inline-block;
}
p:hover{
    font-size: xx-large;
    color: chartreuse;
}
input{
    padding: 20px;
}
h1{
    display: inline-block;
    margin-top: 40px;
}